django
PyJWT
requests
mysqlclient
django-allauth
cryptography
Pillow
django-crispy-forms
python-dotenv
django-cors-headers
Pillow
django
PyJWT
requests
mysqlclient
django-allauth
cryptography
django-crispy-forms
python-dotenv
django-cors-headers
allauth
requests
jwt
pymysql