Django>=5.1
PyJWT
requests
cryptography
Pillow
django-crispy-forms
django-cors-headers
Pillow
django
PyJWT
requests
django-allauth
cryptography
django-crispy-forms
python-dotenv
django-cors-headers
requests
jwt
pymysql
gunicorn
mysqlclient
python-decouple